@{
    ViewBag.Title = "_DashboardPartial";
}

<div style="border-radius: 5px; position: absolute; width: 190px;background: white;top:10px;bottom:10px;left:10px;">

    <h2 style="color:#999999;padding-left:30px;padding-bottom:10px;">Dashboard</h2>

    <ul class="list-unstyled dashboard-left-nav">
        <li class="dashboard-top-rate">
            <i class="fa fa-line-chart"></i>
            <label><a href="@Url.Action("Index", "Dashboard") ">Hot Stock</a></label>
        </li>

        <li class="dashboard-nav-active dashboard-part">
            <i class="fa fa-university"></i>
            <label><a href="@Url.Action("PartStock", "Dashboard") ">Part Stock</a></label>
        </li>

        <li class="dashboard-rate">
            <i class="glyphicon glyphicon-stats"></i>
            <label><a href="@Url.Action("Rate", "Dashboard") ">Complete Rate</a></label>
        </li>

    </ul>
</div>