
@{
    ViewBag.Title = "StockReport";
}

@Styles.Render("~/Content/dashboards")

<div class="LeftNav">
    @Html.Partial("_DashboardPartial")
</div>

<div class="RightContent">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12" style="text-align:center;">
                <div class="col-md-6" style="display:flex;display:-ms-flexbox;">
                    <input type="text" class="form-control date-picker date-from" />
                    <input type="text" hidden value="" class="hidden-date-from" />
                    <span>&emsp; ~ &emsp;</span>
                    <input type="text" class="form-control date-picker date-to" />
                    <input type="text" hidden value="" class="hidden-date-to" />
                </div>
                <div class="col-md-2">
                    <input type="text" value="" class="form-control part-nr" id="part_nr" placeholder="Part Nr" autofocus />
                    <input type="text" hidden value="" class="hidden-part-nr" />
                    <input type="hidden" value="200" class="part-type" />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary" style="width:150px;">Search</button>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-success" style="width:150px;">Export</button>
                </div>
            </div>
        </div>
    </div>

    <div class="CompleteRateEmpty">
        Search ...
    </div>
</div>

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/stock_report")

<script>
    StockReport.Init();
</script>
