<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CuttingMrpDashSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CuttingMrpDashSvc.Properties.Settings>
            <setting name="db" serializeAs="String">
                <value>Data Source=Charlot-PC\SQLEXPRESS;Initial Catalog=CuttingMrp;Persist Security Info=True;User ID=sa;Password=123456@</value>
            </setting>
            <setting name="stockSumDashCron" serializeAs="String">
                <value>0 50 23 * * ? *</value>
            </setting>
            <setting name="backFlashCron" serializeAs="String">
                <value>0 */5 * * * ? *</value>
            </setting>
            <setting name="mrpQueue" serializeAs="String">
                <value>.\Private$\cuttingMrp1</value>
            </setting>
        </CuttingMrpDashSvc.Properties.Settings>
    </userSettings>
</configuration>