<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CuttingMrpDashSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CuttingMrpDashSvc.Properties.Settings>
            <setting name="mrpQueue" serializeAs="String">
                <value>.\Private$\cuttingMrp1</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=CuttingMrp;Persist Security Info=True;User ID=sa;Password=123456@</value>
              <!--<value>Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=CuttingMrp;Persist Security Info=True;User ID=sa;Password=123456@</value>-->
            </setting>
            <setting name="stockSumDashCron" serializeAs="String">
                <!--<value>0 50 6 * * ? *</value>-->
             <value>0 50 6 * * ? *</value>
            </setting>
            <setting name="backFlashCron" serializeAs="String">
                <!--<value>0 */30 * * * ? *</value>-->
             <value>0 */3 * * * ? *</value>
            </setting>
            <setting name="autoStockCron" serializeAs="String">
                <!--<value>0 3 */1 * * ? *</value>-->
             <value>*/2 * * * * ? *</value>
            </setting>
            <setting name="autoStockFilePath" serializeAs="String">
                <!--<value>\\XINER-PC\cuttingMrp</value>-->
              <value>\\BRILLIANTECH-PC\brilliantech\Cutting</value>
            </setting>
        </CuttingMrpDashSvc.Properties.Settings>
    </userSettings>
</configuration>