.filter-content{
    height:70px;
    text-align:left;
}

#basic-addon-filter{
    line-height:60px;
}
.filter-p{
    line-height:30px;
}

.filter-detail>span{
    width:100px;
}

.filter-detail>select{
    text-align:center;
}

.partNrMsg{
    cursor:pointer;
}