.filter-content{
    height:70px;
    text-align:left;
}

#basic-addon-filter{
    line-height:60px;
}
.filter-p{
    line-height:30px;
}

.filter-detail>span{
    width:100px;
}

.filter-detail>select{
    text-align:center;
}

.partNrMsg{
    cursor:pointer;
}

.part-nr-ul{
    margin-left:-30px;
    list-style:none;
}

.part-nr-ul>li{
    border-bottom:1px solid #eeeeee;
    height:30px;
    line-height:28px;
    white-space:nowrap;
}

.part-nr-ul>li>label{
    border-right:1px solid #eeeeee;
    width:120px;
    margin-right:20px;
}