.filter-detail>span{
    width:120px;
}

.filter-detail>select{
    width:200px;
    text-align:center;
}

.filter-detail>select>option{
    height:30px;
    line-height:28px;
    border-bottom:1px solid #eeeeee;
}


.input-group-addon{
    background:#0088cc;
    color:white;
}