.col-sm-12{
    min-width:800px;
}

.FilterSearchBtn{
    width:200px;
}

.filter-content{
    border:1px solid black; 
    border-radius:4px;
    height:36px;
    line-height:34px;
}

.filter-content>span{
    border-left:1px solid black;
    padding:0 10px 0 20px; 
    cursor:pointer;
}

.filter-detail>span{
    width:100px;
}

.filter-detail>input[type='text']{
    height:37px;
    width:200px;
    box-shadow:none;
}
